{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.fecha %}
            {{ object.fecha | date("d/m/Y") }}
        {% else %}
            ---
        {% endif %}
    </div>
{% endblock %}